.vscode
objs
ft_output
ft_containers_test
std_output
std_containers_test
subject-abstract-data.pdf
monkey_tester/ft_*
monkey_tester/std_*
monkey_tester/monkey_says
monkey_tester/.objs
monkey_tester/*.txt
